<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- If title is passed to the template -->
    {% if title %}
    <title>{{ title }} - Bank 3370</title>
    {% else %}
    <title>Welcome to Bank 3370</title>
    {% endif %}
</head>
<body>
    <!-- Navigation as it appears on all pages -->
    <div id="nav">
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('accounts', id=current_user.get_id()) }}">Accounts</a>
        <a href="{{ url_for('dep', id=current_user.get_id()) }}">Deposit</a>
        {% endif %}
    </div>
    <hr>
    <!-- Any flashed messages sent to the template are assigned to the messages variable (Tutorial Pt 3 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- Start of content for pages that inherit this template -->
    {% block content %}{% endblock %}
</body>
</html>