<!-- Uses the base.html template -->
{% extends 'base.html' %}

<!-- Inserts all the code in this block in the corresponding content block in base.html -->
{% block content %}
    <img id="logo" src="/static/logo.png">
    {% if bankaccounts != None %}
    {% for account in bankaccounts %}
    <table id="accountList">
        <tr>
            <td class="names">{{ account.accountName }}</td>
            <td class="amnts">${{ account.accountBalance }}</td>
        </tr>
    </table>
    {% endfor %}
    {% endif %}
{% endblock %}
