<!-- Uses the base.html template -->
{% extends 'base.html' %}

<!-- Inserts all the code in this block in the corresponding content block in base.html -->
{% block content %}
    <h1>Welcome to Bank 3370</h1>
    {% if bankaccounts != None %}
    {% for account in bankaccounts %}
    <ul id="accountList">
        <li>
            {{ account.accountName }}
            .............................................................................
            ${{ account.accountBalance }}
        </li>
    </ul>
    {% endfor %}
    {% endif %}
{% endblock %}
