{% extends 'base.html' %}

{% block content %}
    <h1>Login to the Bank of the Future</h1>
    <!-- The login form, as defined by the login class from forms.py and then passed to this template -->
    <form action="" method="post" novalidate>
        <!-- Implemented for security reasons -->
        {{ form.hidden_tag() }}
        <p>
            <!-- Form object containing these HTML objects is passed to this HTML page -->
            {{ form.email.label }}
            <br>
            {{ form.email(size=32) }}
            <br>
            <!-- If there is an error, we catch it with this -->
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32) }}
            <br>
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}