{% extends 'base.html' %}

{% block content %}
    <h1>Specify your auto loan details</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.accountName.label }}
            <br>
            {{ form.accountName(size=32) }}
            <br>
            {% for error in form.accountName.errors %}
            <span>{{ [ error ] }}</span>
            {% endfor %}
        </p>
     <p>
            {{ form.loanPayment.label }}
            <br>
            {{ form.loanPayment(size=32) }}
            <br>
            {% for error in form.loanPayment.errors %}
            <span>{{ [ error ] }}</span>
            {% endfor %}
        </p>
    <p>
            {{ form.loanBalance.label }}
            <br>
            {{ form.loanBalance(size=32) }}
            <br>
            {% for error in form.loanBalance.errors %}
            <span>{{ [ error ] }}</span>
            {% endfor %}
    </p>

    <p>
            {{ form.loanPaymentDate.label }}
            <br>
            {{ form.loanPaymentDate(size=32) }}
            <br>
            {% for error in form.loanPaymentDate.errors %}
            <span>{{ [ error ] }}</span>
            {% endfor %}
        </p>

    <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}