{% extends 'base.html' %}

{% block content %}
    <h1>Specify your new account details</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.accountName.label }}
            <br>
            {{ form.accountName(size=32) }}
            <br>
            {% for error in form.accountName.errors %}
            <span>{{ [ error ] }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.insurance }} {{ form.insurance.label }}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}